/* Footer styling and centering all contents (EC) */
footer {
    background: gray;
    color: white;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    height: fit-content;
    text-align: center;

    position: relative;
    bottom: 0;
}

/* Footer links coloring (EC) */
footer a {
    color: #cae4f1;
    text-transform: uppercase;
    text-decoration: none;
}
