#RemoveItemButton {
    background: red;
    padding: 10px;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

#CartPreImage {
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 5px;
}

#BasketProductList {
    margin: 10px;
    padding: 0px;
    background: whitesmoke;
}

body, html {
    margin: 0;
    padding: 0;
    background: whitesmoke;
}

h1, h2, h3, h4, h5, h6, p, i, ul, li {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

#TextContent {
    margin: 30px;
}

.cell {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 768px) {
    .cell {
        width: 50%;
    }

    #ProductGrid {
        width: 75%;
        margin: auto;
    }
}

@media only screen and (min-width: 1301px) {
    .cell {
        width: 25%;
    }

    #ProductGrid {
        width: 75%;
        margin: auto;
    }
}

.productImage {
    max-width: 100%;
    margin: auto;
    border-radius: 1em 1em 0 0;
}

.productPrice {
    text-align: center;
    color: green;
    font-weight: bold;
}

.productButton {
    width: 50%;
    margin: 0 25%;
    border-radius: 15px;
    border-color: gray;
    border-width: 3px;
    border-style: solid;
    background-color: lightgray;
    outline: 0ch;
    cursor: pointer;
}

.productButton:hover {
    background-color: lightgreen;
    border-color: gray;
}

.productButton:active {
    background-color: darkgreen;
}

.clickable {
    cursor: pointer;
}

.productCatagory {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
