/* STYLE FOR PROCEED TO CHECKOUT BUTTON (CM) */
#ProceedToCheckoutButton {
    padding: 10px;
    margin: 10px;
    font-variant: all-petite-caps;
}

/* STYLE FOR CHECKOUT FORM (CM) */
#CheckoutForm {
    display:none;
    top: 15%;
    margin: 10%;
    margin-top: 0;
    padding: 10px;
    font-size: 20px;
    width: 80%;
}

/* STYLE FOR HTML ELEMENT FIELDSET (CM) */
fieldset {
    width: 70%;
    height: 600px;
    position: absolute;
    background: white;
    border: 0;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 10%;
    margin-left: 10%;
    overflow: auto;
}

/* STYLE FOR FIELDSET, INPUT AND SELECT INPUTS (CM) */
fieldset input, select {
    padding: 10px;
    font-variant: all-petite-caps;
    font-size: 20px;
    width:90%
}

/* SETING THE FONT FOR EVERY ELEMENT ON THE WEBSITE (CM) */
* {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

/* STYLE FOR BUTTON ON HOME PAGE (CM) */
#RemoveItemButton {
    background: red;
    width: 50px;
    height: 50px;
    margin: 20px;
    float: right;
    border-radius: 50%;
    padding: 0;
    font-weight: 900;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    border: 2px solid black;

}

/* STYLE FOR PRE IMAGE ON CART PAGE (CM) */
#CartPreImage {
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 5px;
}

/* STYLE FOR LIST OF ITEMS IN BASKET PAGE (CM) */
#BasketProductList {
    margin: 10px;
    padding: 0px;
    background: whitesmoke;
}

/* GENERAL STYLE FOR BODY ELEMENT (CM) */
body, html {
    margin: 0;
    padding: 0;
    background: whitesmoke;
}

/* STYLE FOR ELEMENT TEXTCONTENT (CM) */
#TextContent {
    margin: 30px;
}

/* Each product container created using dom from an array (EC) */
.cell {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
}

/* snippet from here for responsive grid https://www.w3schools.com/css/css_rwd_grid.asp (EC) */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Container for the most the stuff on the store page (EC) */
#ProductGrid {
    margin-top: 20%;
}

/* small desktop media query (EC) */
@media only screen and (min-width: 768px) {
    .cell {
        width: 50%;
    }

    #ProductGrid {
        width: 75%;
        margin: auto;
        margin-top: 10%;
    }
}

/* large desktop media query (EC) */
@media only screen and (min-width: 1301px) {
    .cell {
        width: 25%;
    }

    #ProductGrid {
        width: 75%;
        margin: auto;
        margin-top: 10%;
    }
}

/*  */
.productImage {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 1em 1em 0 0;
}

/*  */
.productPrice {
    text-align: center;
    color: green;
    font-weight: bold;
}

/* Add to basket button on all products (EC) */
.productButton {
    width: 50%;
    height: 30px;
    margin: 0 25%;
    background-color: #ff8400;
    border-style: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    outline: 0px;
    cursor: pointer;
    font-weight: bolder;
}

/* Change to lighter shade to show you are hovering (EC) */
.productButton:hover {
    background-color: #ffa500;
}

/* Add a shadow to make it look like its a button pushed in with an inset shadow (EC) */
.productButton:active {
    box-shadow: inset 2px 2px 2px black;
}

/* Make the element look clickable (EC) */
.clickable {
    cursor: pointer;
}

/* Header for the shoes (EC) */
.productCatagory {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    font-variant: all-petite-caps;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* STYLE FOR CART SUB TOTAL (CM) */
#CartSubTotal {
    color: green;
    font-weight: 900;
    font-variant: all-petite-caps;
}

/* STYLE ONLY APPLICABLE IF USER IS ON DESKTOP (CM) */
@media only screen and (min-width: 600px) {
    #RightFormDiv{
        float:right;
        width:50%;
        text-align: left;
    }
    
    #LeftFormDiv{
        float:left;
        width:48%;
        border-right:1px solid gray;
    }
    
    
}

/* STYLE FOR EXIT BUTTON ON RECEIPT PAGE (CM) */
#FieldsetExitButton{
    color:white;
    background-color: orangered;
    border-radius: 50%;
    width:40px;
    height:40px;
    padding:0;
    border:0;
}