* {
    margin: 0;
}

/* Gray background for input form (EC)*/
#LoginForm {
    background-color: lightgrey;
    width: auto;
    margin: 0;
    padding: 0 2em 2em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

/* Center logo (EC)*/
#LoginLogo {
    margin: auto auto 4rem auto;
    width: min-content;

}

/* Center title (EC)*/
#LoginTitle {
    text-align: center;
    margin-bottom: 2rem;
}

/* Make the forgot password paragraph in a link (EC)*/
#ForgotPassword {
    float: right;
    right: 0;
    top: 0;
    position: absolute;
    font-size: 12px;
    color: rgba(0, 17, 255, 0.667);
    cursor: pointer;
}

/* Set position to relative so the forgot password can be pinned (EC)*/
#PasswordFieldContainer {
    position: relative;
}

/* Style the input box (EC)*/
.InputField {
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    font-size: x-large;
    outline: 0px;
}

.InputField:focus {
    border-color: darkgray !important;
    box-shadow: gray 1px 1px 10px 2px;
}

/* Color sign in button to green with dark green border plus round edges(EC)*/
.InputButton {
    border-radius: 5px;
    border-width: 1px;
    border-color: #2d9e44;
    border-style: solid;
    width: 100%;
    font-size: larger;
    font-weight: 800;
    background-color: #49ff6c;
    cursor: pointer;
    outline: 0px;
}

/* Brighten on hover over sign in field(EC)*/
.InputButton:hover {
    background-color: rgb(39, 240, 39);
}

/* Add spacing between the input fields (EC)*/
.FieldSpacing {
    margin-top: 60px;
}

/* desktop media query (EC)*/
@media only screen and (min-width: 768px) {
    .InputField {
        font-size: large;
    }

    .InputButton {
        font-size: medium;
    }

    #LoginForm {
        width: 250px;
        margin: auto;
    }

    .FieldSpacing {
        margin: 30px 0 0 0;
    }
}
