#LoginDiv {
    background: white;
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
}

#input {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-variant-caps: all-petite-caps;
    font-size: 20px;
}