/* Holds the slide show and centers it in the window (EC) */
#SlideshowContainer {
    width: 100%;
    position: relative;
}

/* Slideshow  (EC) */
.slide {
    width: 100%;
    height: 30%;
    background-color: lightgray;
    display: block;
    border-radius: 10px;
}

/* Pin image to the left of slide (EC) */
.slideImage {
    display: inherit;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

/* Slide info text centering (EC) */
.slideText {
    width: 100%;
    display: inherit;
    float: right;
    text-align: center;
}

/* Cycle left button pin (EC) */
.pinLeft {
    position: absolute;
    top: 50%;
    left: 20px;
}

/* Cycle right button pin (EC) */
.pinRight {
    position: absolute;
    top: 50%;
    right: 20px;
}

/* Make the cycle slide button circular */
.slideButton {
    outline: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-style: none;
    background-color: gray;
    cursor: pointer;
    color: white;
    font-weight: 900;
}

/* Highlight button on hover (EC) */
.slideButton:hover {
    background-color: rgb(163, 163, 163);
}

/* Small desktop window (EC) */
@media only screen and (min-width: 768px) {

    /* Cycle left button pin (EC) */
    .pinLeft {
        position: absolute;
        top: 50%;
        left: -20px;
    }

    /* Cycle right button pin (EC) */
    .pinRight {
        position: absolute;
        top: 50%;
        right: -20px;
    }

    /* Desktop slideshow discription (EC) */
    .slideInfo {
        display: inherit;
        width: 40%;
        height: 100%;
        padding: 10%;
        float: right;
    }
}


/* Large desktop window (EC) */
@media only screen and (min-width: 1301px) {
    #SlideshowContainer {
        width: 75%;
        margin: auto;
    }

    /* Cycle left button pin (EC) */
    .pinLeft {
        position: absolute;
        top: 50%;
        left: -20px;
    }

    /* Cycle right button pin (EC) */
    .pinRight {
        position: absolute;
        top: 50%;
        right: -20px;
    }

    /* Desktop slideshow discription (EC) */
    .slideInfo {
        display: inherit;
        width: 40%;
        height: 100%;
        padding: 10%;
        float: right;
    }
}

/* Mobile slideshow discription (EC) */
.slideInfo {
    display: inherit;
    width: 40%;
    height: 100%;
    padding: 5%;
    float: right;
}
